@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
.title-products {
  font-family: "Julius Sans One", sans-serif, bold;
  color: white;
}

hr.sep-2 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #ffee00,
    #0400ff,
    #ff0000,
    #ffee00
  );
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
}

.about {
  text-align: center;
  font-family: "Julius Sans One", sans-serif, bold;
}
